

body{

    background-color: black;
}


.block
{
    border: 2px solid red;
    height: 300px;
    width: 800px;

}


h1{
    color: blue;
}


.blue {

    color: blue;
}


h5{

    color: orange;
}
